*, *:before, *:after {
    box-sizing: border-box;
}
  

  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}
  
    .footer {
        color: #2f2f2f;
        background-color: #fff;
        border-top: 1px solid #e5e5e5;
        border-radius: 30px 30px 0 0;
    }

    .footer_content {
        padding: 0 30px 20px 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer__addr {
        margin-bottom: 30px;
        color: #999;
    }

    .footer__logo {
        cursor: pointer;
        font-size: 40px;
        font-weight: 700;
        background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
        -webkit-background-clip: text;
        color: transparent;
    }

    .footer__nav {
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 60px;
        margin-left: 200px;
    }

    .footer__nav ul li a {
        color: black;
    }

    .nav__services {
        margin-top: 65px;
    }

    .nav__services p {
        font-weight: 500
    }

    .nav__services ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }

    .nav__services li {
        flex-basis: calc(50% - 10px);
        color: #999;
    }

    .srvc_tittle {
        font-weight: 400;
        font-size: 15px;
    }

    .footer ul {
        list-style: none;
        padding-left: 0;
    }

    .footer li {
        line-height: 2em;
    }

    .footer a {
        text-decoration: none;
    }

    .copyright {
        text-align: center;
        font-weight: 500;
        background-color: #ADD0F9;
        padding-bottom: 2px;
    }

    .copyright::before {
        content: "";
        display: block;
        height: 1px;
        background-color: #000;
        margin-bottom: 10px;
    }

    /* Tampilan layar berukuran kecil */
    @media screen and (max-width: 768px) {
        .footer_content {
            grid-template-columns: 1fr; /* Mengatur satu kolom pada tampilan layar kecil */
            padding: 0 20px; /* Mengurangi padding pada tampilan layar kecil */
        }

        .footer__nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start; /* Mengatur agar elemen berjajar ke samping */
            margin-left: 0; /* Menghilangkan margin kiri pada tampilan layar kecil */
        }

        .nav__services {
            margin-top: 30px; /* Mengurangi margin atas pada tampilan layar kecil */
        }

        .nav__services ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Mengatur agar elemen 4 dikiri dan 4 di kanan */
        }
        
        .nav__services li {
            flex-basis: calc(50% - 10px); /* Item mengambil lebar setengah dari kolom dengan jarak antar item */
            text-align: left; /* Mengatur teks menjadi kiri pada tampilan layar kecil */
        }
        
        .copyright {
            margin-top: 20px; /* Mengurangi margin atas pada tampilan layar kecil */
        }
    }
