body{
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    background-color: aquamarine;
}

/* Navbar */
.navbar{
    background: none;
    z-index: 1;
    width: 90%;
    padding: 0px 100px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-list ul li{
    margin-left: 50px;
}

.nav-list ul li a{
    font-size: 14px;
    text-decoration: none;
    color: rgb(24, 86, 180);
    font-weight: bold;
    display: block;
}

.nav-list ul li a:hover{
    transform: translateY(-3px);

}

.nav-list ul li button{
    background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    color: aliceblue;
    border-radius: 5px;
    cursor: pointer;
    transition: .4 ease;
    text-transform: uppercase;
}

.nav-list ul li button:hover{
    transform: translateY(-5px);
}

.scroll{
    background: white;
    top: -100px;
    border-radius: 20px;
    width: 90%;
    animation: fadedown .4s ease 1s forwards;
}

@keyframes fadedown{
    0%{
        top: -100px;
    }
    100%{
        top: 20px;
    }
}

.navbar-logo{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
    -webkit-background-clip: text;
    color: transparent;
}


/* Gaya untuk tombol hamburger */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    border-radius: 2px;
}

/* Gaya untuk navbar dalam mode responsif */
@media (max-width: 880px) {
    .navbar {
        padding: 0 20px;
    }

    .nav-list ul {
        flex-direction: column;
        align-items: center; /* Memusatkan item navbar secara horizontal */
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        width: 100%;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        display: none;
        z-index: 1;
    }

    .nav-list ul.active {
        display: block;
    }

    .nav-list ul li {
        margin-left: 0;
        margin-bottom: 1px;
        border-bottom: 1px solid #ddd; /* Tambahkan garis pemisah */
        padding: 10px 0; /* Berikan padding pada item navbar */
        text-align: center; /* Memusatkan teks secara horizontal */
    }

    .navbar-logo {
        display: block;
        text-align: center;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
    }
    
    .nav-list ul.active + .hamburger-menu .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .nav-list ul.active + .hamburger-menu .bar:nth-child(2) {
        opacity: 0;
    }

    .nav-list ul.active + .hamburger-menu .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}
