* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

/* STYLING NAVBAR */

    .navbar {
        background: white;
        border-radius: 35px;
        z-index: 3;
        width: 90%;
        padding: 0px 100px;
        margin-top: 25px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .nav-list ul li {
        margin-left: 50px;
    }

    .nav-list ul li a {
        font-size: 18px;
        font-weight: bolder;
        text-decoration: none;
        color: black;
        display: block;
    }

    .nav-list ul li a:hover {
        transform: translateY(-3px);
    }

    .nav-list ul li button {
        background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
    }

    .nav-list ul li button a {
        border: none;
        padding: 2px 8px;
        font-size: 18px;
        font-weight: bolder;
        color: aliceblue;
        border-radius: 5px;
        cursor: pointer;
        transition: .4 ease;
        text-transform: uppercase;
    }

    .nav-list ul li button:hover {
        transform: translateY(-5px);
    }

    .scroll {
        background: #eeeff1;
        top: -100px;
        border-radius: 35px;
        width: 90%;
        animation: fadedown 0.5s ease 0.7s forwards;
    }

    @keyframes fadedown {
        0%{
            top: -100px;
        }
        100%{
            top: 20px;
        }
    }

    .navbar-logo {
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
        -webkit-background-clip: text;
        color: transparent;
    }

    /* Tombol hamburger */
    .hamburger-menu {
        display: none;
        flex-direction: column;
        cursor: pointer;
        padding: 5px;
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: #333;
        margin: 3px 0;
        border-radius: 2px;
    }

    /* Styling Responsif Navbar */
    @media (max-width: 768px) {
        .navbar {
            padding: 0 20px;
        }

        .nav-list ul {
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            background: white;
            width: 100%;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            display: none;
            z-index: 5;
            transition: 5s;
        }

        .nav-list.open {
            top: 0;
        }

        .nav-list ul.active {
            display: block;
        }

        .nav-list ul li {
            margin-left: 0;
            margin-bottom: 1px;
            padding: 10px 20px;
            text-align: center;
        }

        .nav-list ul li a {
            font-size: 16px;
        }

        .nav-list ul li button {
            background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
            border: none;
            padding: 10px 20px;
            font-weight: bold;
            font-size: 14px;
            color: aliceblue;
            border-radius: 5px;
            cursor: pointer;
            transition: .4 ease;
            text-transform: uppercase;
        }

        .navbar-logo {
            display: block;
            text-align: center;
        }

        .hamburger-menu {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 20px;
        }

        .hamburger-menu .bar {
            width: 25px;
            height: 3px;
            background-color: #333;
            margin: 4px 0;
            transition: 0.4s;
        }
        
        .nav-list ul.active + .hamburger-menu .bar:nth-child(1) {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .nav-list ul.active + .hamburger-menu .bar:nth-child(2) {
            opacity: 0;
        }

        .nav-list ul.active + .hamburger-menu .bar:nth-child(3) {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }

/* STYLING HOMEPAGE */

    /* Styling hero section */
    .hero {
        background-image: url(../assets/img/home.png);
        background-size:cover ;
        color: black;
        text-align: left;
        padding: 100px 20px;
    }

    .hero h1 {
        font-size: 65px;
        margin: 80px 0px 0px 50px;
    }

    .hero h2 {
        font-size: 65px;
        margin: 5px 0px 0px 50px;
    }

    .hero p {
        font-size: 24px;
        font-weight: 400;
        line-height: 1.4;
        margin: 10px 500px 0px 50px;
    }

    /* Styling button "see more about us" */
    .btn-hero {
        background-color: black;
        border-radius: 35px;
        padding: 10px 30px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        text-decoration: none;
        display: inline-block;
        margin: 70px 0px 0px 100px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-hero:hover {
        background-color: #2f2f2f;
        color: white;
    }

    /* Styling section About Us */
    .section1 {
        display: flex;
        align-items: flex-start; 
        margin: 100px 0px 0px 25px;
    }

    .section1 img {
        width: 600px;
        margin: 0px 20px 0px 25px;
        border-radius: 30px;
    }

    .section1-text {
        margin: 25px 0px 0px 20px;
    }

    .section1-text h1 {
        font-size: 40px;
    }

    .section1-text p {
        font-size: 18px;
        padding-top: 15px;
        margin: 0px 50px 70px 0px;
    }

    /* Styling button "see more" */
    .btn-see-more {
        background-color: #31c7e4;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 7px 30px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn-see-more:hover {
        background-color: #85bfcb;
        color: white;
    }

    /* Styling section Our Services */
    .section2-title {
        font-size: 40px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 100px;
    }

    .section2-description {
        font-size: 18px;
        text-align: center;
        margin: 50px 150px 50px 150px;
    }

    .section2-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    /* Styling card services */
    .section2-card {
        width: 250px;
        height: 275px;
        background-color: white;
        border-radius: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .section2-card img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
        width: 100px;
        height: 100px;
    }

    .section2-card h3 {
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 15px;
    }

    .section2-card p {
        font-size: 14px;
        color: black;
        text-align: center;
        margin-top: 10px;
        margin: 15px 15px 15px 15px;
    }

    /* Styling button 'read more' dalam card */
    .section2-card .btn-read-more {
        background-color: none;
        color: red;
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
        display: block;
        margin: 20px auto 0;
        text-align: center;
    }

    /* Styling section Our Dentist */
    .section3 {
        margin-bottom: 100px;
    }

    .section3-title {
        font-size: 40px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 100px;
    }

    .section3-description {
        font-size: 18px;
        text-align: center;
        margin: 50px 150px 50px 150px;
    }

    .section3-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    /* Styling card dentist */
    .section3-card {
        width: 280px;
        height: 450px;
        background-color: #EFFDFF;
        border-radius: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .section3-card img {
        width: 250px;
        height: 370px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 30px;
    }

    .section3-card h3 {
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    .section3-card p {
        font-size: 16px;
        color: black;
        text-align: center;
        margin-top: 10px;
    }

    /* Responsif Home Page */
    @media (max-width: 768px) {

        /* Responsif hero section */
        .hero h1 {
            font-size: 40px; 
            margin: 40px 0px 0px 20px; 
        }

        .hero h2 {
            font-size: 40px; 
            margin: 5px 0px 0px 20px; 
        }

        .hero p {
            font-size: 18px; 
            margin: 10px 0px 0px 20px; 
        }

        .btn-hero {
            margin: 40px 0px 0px 20px; 
        }

        /* Responsif About Us section */
        .section1 {
            flex-direction: column;
        }

        .section1 img {
            width: 70%;
            margin-bottom: 20px;
            margin: 0;
        }

        .section1-text {
            text-align: left;
        }

        /* Responsif Services section */
        .section2-description {
            margin: 50px 35px 50px 35px;
        }

        .section2-card {
            width: 50%;
        }
        
        .section2-card img {
            width: 80px;
            height: 80px;
        }

        /* Responsif Dentist section */
        .section3-description {
            margin: 50px 35px 50px 35px;
        }
    }

/* STYLING ABOUT US PAGE */

    /* Styling Hero section */
    .hero-about-us {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/about-us.jpg);
        background-size: cover;
        opacity: 0.9;
    }

    .hero-about-text h1 {              
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }

    /* Styling team section */
    .team {
        background-color: #ADD0F9;
        border-radius: 0 0 25px 25px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        padding-bottom: 50px;
    }

    .team-tittle h1 {
        text-align: left;
        padding-top: 50px;
        margin: 0px 0 10px 50px;
    }

    .text-yellow {
        color: #ffe100;
    }

    .team-tittle p {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        margin: 0 0 50px 50px;
    }

    .our-team {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .grid-team {
        text-align: center;
        padding: 30px;
    }

    .grid-team img {
        width: 280px;
        border-radius: 140px;
        z-index: 1;
    }

    .label-team {
        background-image: linear-gradient(350deg, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
        width: 70%;
        padding: 5px;
        border-radius: 50px;
        z-index: 2;
        position: relative;
        margin-top: -15%;
        margin-left: auto;
        margin-right: auto;
    }

    #name-team {
        font-size: 16px;
        font-weight: bold;
        color: white;
    }

    #job-team {
        font-size: 12px;
        font-weight: 500;
        color: white;
    }

    .grid-team p {
        line-height: 1.5;
    }

    .grid-team i {
        font-size: 20px;
        color: white;
        line-height: 1.5;
    }

    /* Styling content wrap */
    .content-wrap {
        display: flex;
        flex-direction: column;
        margin: 80px;
    }

    .left,
    .right {
        display: flex;
        margin: 10px 0;
    }

    .right {
        flex-direction: row-reverse;
    }

    .left img,
    .right img {
        max-width: 25%;
    }

    .about-text {
        flex: 1;
        margin-top: 20px;
    }

    .about-text h1 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .about-text p {
        font-size: 16px;
    }

    .left .about-text {
        margin-left: 30px;
        text-align: justify;
    }

    .right .about-text {
        margin-right: 30px;
        text-align: justify;
    }

    .right .about-text h1 {
        text-align: right;
    }

    /* Responsif About Us page */
    @media screen and (max-width: 768px) {

        /* Styling responsif Hero section */
        .heroservices-text h1 {
            font-size: 40px;
        }

        /* Styling responsif team section */
        .our-team {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
        }
        
        .team-tittle h1 {
            font-size: 24px;
            text-align: left;
            padding-top: 50px;
            margin: 0px 0 10px 50px;
        }
    
        .team-tittle p {
            font-size: 14px;
            margin-bottom: 10px;
        }
        
        .label-team {
            width: 100%;
            margin-top: -20%;
            border-radius: 40px;
        }

        #name-team {
            font-size: 16px;
        }
    
        #job-team {
            font-size: 12px;
        }

        /* Styling responsif content wrap */
        .content-wrap {
            margin: 50px;
        }
    
        .left,
        .right {
            flex-direction: column;
            margin: 25px 0;
        }
    
        .about-text {
            margin-top: 20px;
            text-align: justify;
        }
    
        .about-text h1 {
            font-size: 24px;
            margin-top: 20px;
        }
    
        .about-text p {
            font-size: 14px;
        }
    
        .left .about-text,
        .right .about-text h1 {
            text-align: center;
        }

        .left .about-text,
        .right .about-text {
            margin: 0;
        }
    
        .left img,
        .right img {
            max-width: 50%;
            margin: 0 auto;
        }
    }

    /* Styling Hero section */
    .hero-dentist {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/dentist.png);
        background-size: cover;
    }

    .herodentist-text h1 {              
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }

    /* Styling css swiper dentits */
    .dentist {
        padding: 100px 0 100px 0;
        background-color: #ADD0F9;
    }

    .swiper {
        width: 90%;
    }

    .swiper-wrapper {
        padding: 50px 0 90px 0;
    }
    
    .slide-card {
        box-sizing: border-box;
        width: 250px;
        height: 420px;
        background: #EFFDFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        margin: 0 45px 0 60px;
        padding: 20px;
        border-radius: 30px;
    }
    
    .slide-card img {
        width: 211px;
            height: 314px;
            margin-right: 150px;
            border-radius: 30px;
            margin: 0 auto;
    }

    .slide-card h3 {
        font-size: 20px;
            font-weight: bold;
            color: black;
            text-align: center;
            margin-top: 10px;
    }
    
    .slide-card p {
        font-size: 16px;
        color: black;
        text-align: center;
        margin-top: 10px;
    }
    
    .swiper-slide {
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    
    .swiper-slide-active {
        transform: scale(1.2);
    }

    .swiper-pagination-bullet{
        background-color: #6E93f7;
        opacity: 1;
    }

    .swiper-pagination-bullet-active{
        background-color: #4070F4;
    }

    /* Responsif Dentist page */
    @media (max-width: 768px) {

        /* Styling responsif Hero Section */
        .herodentist-text h1 {
            font-size: 40px;
        }

        /* Styling responsif swiper dentist */
        .slide-card {
            margin: 0 auto;
        }

        .swiper-wrapper {
            padding-top: 0;
            padding-bottom: 50px;
        }

        .swiper-slide-active {
            transform: scale(1);
        }
}

/* STYLING SERVICES PAGE */

    /* Styling Hero section */
    .hero-services {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/services.png);
        background-size: cover;
    }

    .heroservices-text h1 {              
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
    }

    /* Styling Services section */
    .services {
        background-color: #ADD0F9;
    }

    .services-container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        grid-column-gap: 75px;
        padding: 75px 0px 75px 0px;
    }

    /* Styling card Services */
    .services-card {
        width: 250px;
        height: 275px;
        background-color: white;
        border-radius: 30px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 50px;
    }

    .services-card img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        border-radius: 15px;
        width: 100px;
        height: 100px;
    }

    .services-card h3 {
        font-size: 18px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 15px;
    }

    .services-card p {
        font-size: 14px;
        color: black;
        text-align: center;
        margin: 15px 15px 15px 15px;
    }

    /* Responsif Services Page */
    @media (max-width: 768px) {

        /* Styling responsif Hero section */
        .heroservices-text h1 {
            font-size: 40px;
        }

        /* Styling responsif Services section */
        .services-container {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            padding: 75px 0px 50px 0px;
        }

        .services-card {
            width: 225px;
            height: 250px;
        }
    
        .services-card img {
            width: 80px;
            height: 80px;
        }
    
        .services-card h3 {
            font-size: 16px;
        }
    
        .services-card p {
            font-size: 14px;
        }
    }

/* STYLING CONTACT PAGE */

    /* Styling Hero section */
    .hero-contact {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/contact.png);
        background-size: cover;
    }

    .herocontact-text h1 {              
        font-size: 50px;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-50%, -50%);
        color: black;
    }

    .contact {
        background-color: #ADD0F9;
        display: flex;
        padding: 50px;
        padding-bottom: 100px;
    }
    
    /* Styling Opening Hours section */
    .contact-left {
        flex: 1;
        padding: 20px;
    }

    .opening-container {
        margin: 10px 0px 0px 50px;
    }

    .opening-tittle {
        background-color: #fff;
        border: 1px solid #ABB6B9;
        border-radius: 8px;
        width: fit-content;
        padding: 15px 10px;
        position: relative;
        z-index: 2;
        margin: 0 0px -6% 40px;
        font-weight: bold;
        font-size: 24px;
    }

    .opening-list {
        position: relative;
        padding: 40px;
        border: 1px solid #ABB6B9;
        background-color: #fff;
        border-radius: 8px;
        z-index: 1;
        width: 400px;
        height: 260px;
    }
    
    /* Styling form Contact Us section */
    .contact-right {
        flex: 1;
        padding: 20px;
        margin: 0px 50px 0px 100px;
        background: none;
    }
    
    .contact-right h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-inline {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    
    .form-half {
        width: 100%;
        margin-right: 10px;
    }

    .form-half-right {
        width: 100%;
        margin-left: 20px;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }
    
    /* Styling button 'Send Message' */
    button {
        background-color: #BABABA;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        color: black;
        border: none;
        padding: 7px 18px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #808080;
    }

    /* Responsif Contact Us Page*/
    @media screen and (max-width: 768px) {

        /* Styling responsif Hero section */
        .herocontact-text h1 {
            font-size: 40px;
        }

        /* Styling responsif Opening Hours section */
        .contact {
            flex-direction: column;
        }

        .opening-container {
            margin: 0;
        }

        .opening-tittle {
            margin: 0 0px -7% 40px;
            font-size: 18px;
        }

        .opening-list {
            width: 95%;
            margin: 10px 0;
        }

        /* Styling responsif Contact Us section */
        .contact-right {
            margin-left: 0;
            align-items: flex-start;
        }

        .form-inline {
            flex-direction: column;
        }

        .form-half {
            margin: 0 0 20px 0;
        }

        .form-half-right {
            margin: 0;
        }
    }

/* STYLING BOOKING PAGE */

    /* Styling Hero section */
    .hero-booking {
        height: 100vh;
        width: 100%;
        background-image: url(../assets/img/booking.png);
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.9;
    }
    
    .herobooking-text h1 {              
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: black;
        z-index: 1;
    }

    /* Styling form booking */
    .form {
        width: 50%;
        margin: auto;
        margin-top: 75px;
        margin-bottom: 75px;
        background-color: #fff;
        padding: 30px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="tel"] {
        width: 96.5%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
    }

    form input[type="date"],
    form input[type="time"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .custom-dropdown select {
        background-color: #fff;
        color: #333;
    }
    
    .custom-dropdown select:focus {
        border-color: #3498db;
    }
    
    .time-group {
        display: flex;
        justify-content: space-between;
    }
    
    .time-group input {
        margin-right: 5px;
    }

    #btn-submit-booking {
        width: 100%;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        border-radius: 40px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tittle-reserv {
        margin: 0 0 25px 50px;
    }

    .table {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .list-reserv {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
    }

    .list-reserv thead {
        display: table-header-group;
        vertical-align: middle;
        background-color: #3498db;
        color: #fff;
    }
    
    .list-reserv th {
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
    
    .list-reserv tbody tr {
        text-align: justify;
    }
    
    .list-reserv tbody tr:nth-child() {
        background-color: #f2f2f2;
    }
    
    .list-reserv tbody tr:hover {
        background-color: #ddd;
    }

    .list-reserv td:nth-child(3),
    .list-reserv td:nth-child(6),
    .list-reserv td:nth-child(7) {
        text-align: center;
    }

    /* Styling responsif Booking page */
    @media screen and (max-width: 768px) {

        /* Styling responsif Hero section */
        .herobooking-text h1 {
            font-size: 40px;
        }

        /* Styling responsif Reservation list */
        .tittle-reserv {
            margin: 0 0 25px 10px;
        }

        .table {
            padding: 10px;
            max-width: 90%;
        }

        .list-reserv {
            max-width: 100%;
        }

        .list-reserv th {
            padding: 10px;
        }

        .list-reserv th,
        .list-reserv td {
            padding: 5px;
            font-size: 11px;
        }

        .list-reserv th:nth-child(2),
        .list-reserv td:nth-child(2) {
            display: none;
        }

        .list-reserv td:nth-child(6),
        .list-reserv td:nth-child(7) {
            text-align: center;
        }
    }

/* FOOTER */

    /* Styling Footer */
    footer {
        background-color: #ADD0F9;
    }
    
    .footer {
        color: #2f2f2f;
        background-color: #fff;
        border-top: 1px solid #e5e5e5;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        position: static;
    }

    .footer_content {
        padding: 10px 40px 20px 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__addr {
        margin: 30px 0px 30px 0px;
        color: #999;
    }

    .footer__logo {
        cursor: pointer;
        font-size: 40px;
        font-weight: 700;
        margin-right: 100px;
        background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
        -webkit-background-clip: text;
        color: transparent;
    }

    .footer__nav {
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 60px;
        margin-left: 200px;
    }

    .footer__nav ul li a {
        color: black;
    }

    .nav__services {
        margin-top: 65px;
    }

    .nav__services p {
        font-weight: 500
    }

    .nav__services ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }

    .nav__services li {
        flex-basis: calc(50% - 10px);
        color: #999;
    }

    .srvc_tittle {
        font-weight: 400;
        font-size: 15px;
    }

    .footer ul {
        list-style: none;
        padding-left: 0;
    }

    .footer li {
        line-height: 2em;
    }

    .footer a {
        text-decoration: none;
    }

    .copyright {
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        background-color: #ADD0F9;
        padding-bottom: 12px;
    }

    .copyright::before {
        content: "";
        display: block;
        height: 1px;
        background-color: #000;
        margin-bottom: 10px;
    }

    /* Responsif footer */
    @media screen and (max-width: 768px) {
        .footer_content {
            grid-template-columns: 1fr;
            padding: 0 20px;
        }

        .footer__addr {
            margin: 30px 0px 30px 0px;
            color: #999;
            font-size: 12px;
            margin-bottom: 15px;
        }

        .footer__logo {
            font-size: 24px;
            font-weight: 700;
            margin-right: 100px;
            background: linear-gradient(112.82deg, #2b74fc 19.93%, #6d9ef8 102.22%);
            -webkit-background-clip: text;
            color: transparent;
        }

        .footer__nav {
            font-size: 14px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 4px;
        }

        .nav__services {
            margin-top: 0;
            font-size: 14px;
        }

        .nav__services ul {
            margin-top: 10px;
        }
        
        /* Styling responsif copyright */
        .copyright {
            margin-top: 20px;
            font-size: 10px;
        }
    }